
h1 {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0;
}

.app.light {
  background-color: rgb(174, 168, 168);
  color: black;
  height: 970px;
}

.app.dark {

  background-color: rgb(65, 60, 60);
  color: rgb(236, 241, 242);
  height:900px; 
}

.theme-toggle-button {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}