/* src/TimersManager.css */

.timers-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Limite la largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur sur la page */
}

.add-timer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.add-timer-form input {
  border: solid 1px #ccc;
  font-size: 1.5rem; /* Taille de police adaptative */
  width: 80px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f4eded;
  margin: 5px;
  padding: 10px;
}

.timers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.timer-item {
  flex: 1 1 200px; /* Ajuste la largeur maximale des éléments de minuterie */
  margin: 10px;
}

@media (max-width: 768px) {
  .timers-list {
    flex-direction: column;
    align-items: stretch; /* Ajuste selon tes besoins */
  }

  .add-timer-form input {
    width: 60px; /* Ajustement pour les petits écrans */
    font-size: 1.2rem; /* Taille de police adaptative pour les petits écrans */
  }
}
