/* src/Timer.css */

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #2fa622;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.time {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.end-time {
  font-size: 1rem; /* Taille de police adaptative */
  margin-bottom: 20px;
}

.start-time, .elapsed-time {
  font-size: 1rem; /* Taille de police adaptative */
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
}

button {
  font-size: 1rem; /* Taille de police adaptative */
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

button:hover {
  background-color: #2980b9;
}

.fix {
  margin: 5px;
}

.timer-vibrate {
  animation: vibrate 0.5s linear infinite;
}

.timer-warning {
  border: 7px solid red;
}

.progress-bar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid red;

  margin-bottom: 10px;
  overflow: hidden;
}



@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .time {
    font-size: 36px; /* Ajustement de la taille de la police pour les petits écrans */
  }
}
